body{
    background-image: url(Construction_AdobeStock_122510298.jpeg);
}
  input[type='radio']:after {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color:darkgray;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }
   input[type='radio']:checked:after {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: skyblue;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }



body,html,.back{
    width: 100%;
    height: 100%;
    position: relative;
    
}
/.back > header{
    background-color: #716BB1;
    color: white;
    width:100%;
    height: 50%;
}
.back > header > hgroup{
    text-align: center;
    
    color: white;
}
.back > header > hgroup > h2{
    font-size: 1.2em
}

.front{
    width: 70%;
    height: 70%;
    margin: auto;
    background-color:rgb(164,164,164,0.4);
    
    position: absolute;
    top: 20%;
    right: 15%;
    border-radius: 30px;
    display: flex;
}
.front > figure{
    width: 40%;
    height: 100%;
}
.front > figure > img{
    width: 100%;
    height: 100%;
    border-radius: 30px 0 0 30px;

}
.front section{
    margin: auto;
    width: 50%;
    text-align: center;
    margin: auto;
}
.front label{
    display: block;
}